body {
	font-family: 'Nunito', sans-serif !important;
	text-align: center;
	float: center;
	padding-top: 5%;
}
h1 {
	color: white;
	font-size: 57px;
	margin-top: 10px;
	padding-right: 40px;
}

.box {
	background-color: #004447;
	height: 500px;
	width: 60%;
	border-radius: 20px;
	margin: auto;
	padding-bottom: 50px;
	border: 10px solid #007277;
}
a {
	text-decoration: none;
	color: white !important;
}
p {
	color: #00b7be;
	font-size: 22px;
	padding-top: 0px;
}
b.white {
	color: white;
}

table {
	color: white;
	font-size: 25px;
	margin:auto;
	float: center;
}
i{
	padding-bottom: 30px;
}
i:hover {
	color: #00b7be;
}
i.fa-reply {
	float: left;
	color: white;
	padding-left: 20px;
	padding-top: 20px;
}





